@charset "utf-8";

.header {
    position: fixed;
    top: 0;
    z-index: 50;
    left: 0;
    right: 0;
    width: 100%;
    background: var(--black-100);
    color: var(--text-secondary);
    backdrop-filter: blur(50px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.5s ease;
}

.header a {
    color: var(--text-secondary);
    text-decoration: none;
    transition: all 0.2s ease;
}

.header__inner {
    display: flex;
    height: 85px;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
}

.header__disabled {
    height: 85px;
    transition: all 0.5s ease;
}

.header__active {
    height: 531px;
    transition: all 0.5s ease;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand__mark {
    width: 100px;
    height: 31px;
}

.brand__text {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .06em;
}

.nav {
    display: none;
    gap: 50px;
    font-size: 20px;
}

.nav__link:hover {
    color: var(--text-primary);
}

.nav {
    display: flex;
}

.header__menu {
    display: inline-flex;
    width: 60px;
    height: 60px;
    padding: 10px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 7px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border-radius: 12px;
    border: none;
    background: transparent;
    transition: all 0.5s ease;
}

.header__menu:hover {
    background: var(--bg-secondary-block);
}

.header__menu1line {
    width: 30px;
    height: 1px;
    background: var(--white-main);
    transition: all 0.5s ease;
}

.header__menu:hover .header__menu1line {
    transform: translateY(19px);
}

.header__active .header__menu1line {
    transform: translateY(8px);
}

.header__active:hover .header__menu1line {
    transform: translateY(8px);
}

.header__menu2line {
    width: 30px;
    height: 2px;
    background: var(--white-main);
}

.header__menu3line {
    width: 30px;
    height: 3px;
    background: var(--white-main);
    transition: all 0.5s ease;
}

.header__menu:hover .header__menu3line {
    transform: translateY(-19px);
}

.header__active .header__menu3line {
    transform: translateY(-9px);
    height: 2px;
}

.header__active:hover .header__menu3line {
    transform: translateY(-9px);
    height: 2px;
}