@charset "utf-8";

.page-transition__canvas {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    pointer-events: none;
    visibility: hidden;
    image-rendering: pixelated;
}
