.projects {
    padding: 60px 0;
    height: 880px;
}

.projects__title {
    font-size: 24px;
    font-weight: normal;
    color: var(--text-secondary);
}

.projects__title::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--text-secondary);
    margin-right: 20px;
    transform: translateY(-3px);
}

.projects__subtitle {
    line-height: 1.2;
    font-size: 48px;
    font-weight: bold;
    color: var(--text-primary);
}

.projects__button {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.3;
    color: var(--black-main);
    background-color: var(--white-main);
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
}

.projects__iconArrowRight {
    display: inline-block;
    margin-left: 10px;
    transition: transform 0.2s ease;
    color: var(--black-main);
}

.projects__iconArrowRight path {
    fill: currentColor;
}

.projects__inner {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.projects__button:hover {
    background-color: var(--white-600);
}

.projects__button:hover .projects__iconArrowRight {
    transform: rotate(-45deg);
}

.projects__button:active {
    background-color: var(--bg-secondary-block);
    color: var(--text-brand);
}

.projects__button:active .projects__iconArrowRight {
    color: var(--text-brand);
}